.App {
  text-align: center;
  padding-bottom: 10px;
}


.main{
  min-height: 600px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #538397;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 30px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
  list-style-type: none;
  text-decoration: none;
  min-height: 10vh;
  margin-top: 0;
}

.App-link {
  color: #61dafb;
}

li a {
  text-decoration: none;
  color: white;
  box-shadow: 5px 5px #38647b;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
