footer{
    position: fixed;
    margin-top: 0;
    bottom: 0%;
    width: 100%;
    font-size: 70%;
}
.siteFooter{
    color: white;
    background-color: #538397;
    padding: 32px;
    padding-bottom: 16px;
    padding-top: 5px;
}
.liste{
    list-style: none;
}
